
<body>
<a routerLink=""> Back to Homepage</a>
<header>Premium Cars</header>


<b><img src="../../assets/poze/cars.png" width="500" height="150" class="photo"></b>
  <h1>Available cars</h1>

<table style="width:100%">
  <tr>
    <th>ID</th>
    <th>BRAND</th>
    <th>MODEL</th>
    <th>YEAR</th>
    <th>PRICE(€)</th>
    <th></th>
  </tr>
  <tr *ngFor="let car of this.cars">
    <td>{{car.id}}</td>
    <td>{{car.brand}}</td>
    <td>{{car.model}}</td>
    <td>{{car.year}}</td>
    <td>{{car.price}}</td>
    <td (click)="deleteCar(car.id)"><a>BUY</a></td>

  </tr>
</table>
<br>

<h3>BUY A CUSTOM CAR</h3>
<div class="inputData">
Brand: <label>
  <input [(ngModel)]="this.car.brand" type="text" name="brand">
</label>
  <br>
Model: <label>
  <input [(ngModel)]="car.model" type="text" name="model">
</label>
  <br>
Year: <label>
  <input [(ngModel)]="car.year" type="text" name="year">
</label>
  <br>
Price: <label>
  <input [(ngModel)]="car.price" type="text" name="price">
</label>
  <br>
  <br>
</div>
<button (click)="addCar()">CREATE</button>


</body>
