
<table style="width:100%">
  <tr>
    <th>id</th>
    <th>brand</th>
    <th>model</th>
    <th>year</th>
    <th>price</th>
  </tr>
  <tr *ngFor="let car of this.cars">
    <td>{{car.id}}</td>
    <td>{{car.brand}}</td>
    <td>{{car.model}}</td>
    <td>{{car.year}}</td>
    <td>{{car.price}}</td>
  </tr>
</table>
<br>
Brand: <input [(ngModel)]="this.car.brand" type="text" name="brand">
<br>
Model: <input [(ngModel)]="car.model" type="text" name="model">
<br>
Year: <input [(ngModel)]="car.year" type="text" name="year">
<br>
Price: <input [(ngModel)]="car.price" type="text" name="price">
<br>
<button (click)="addCar()">Add</button>
