header {
  text-align: center;
  font-size: 50px;
  font-weight: 900;
  background-color: #0764ff;
  vertical-align: top
}

aboutMeHeader {
  font-size: 100px;
}

info {
  font-size: 10px;
  color: #cb7e00;
}
